services:
  php-fpm:
    build: .
    container_name: rep.php
    working_dir: /app
    user: ${CURRENT_UID}
    networks:
      default:
        aliases:
          - mapped-repair-events.test
      nginx-frontproxy:
    volumes:
      - ./:/app
    depends_on:
      - database-test
    environment:
      WEB_DOCUMENT_ROOT: /app/webroot
    ports:
      - "8113:80"

  database-dev:
    image: mariadb:10.11
    container_name: rep.database.dev
    restart: always
    volumes:
      - rep_db:/var/lib/mysql
    env_file:
      - mysql.env
    ports:
      - "3330:3306"
    environment:
      MYSQL_TCP_PORT: 3330
    networks:
      - nginx-frontproxy

  database-test:
    image: mariadb:10.11
    container_name: rep.database.test
    restart: always
    tmpfs: /var/lib/mysql:exec,size=512M #smaller size (eg. 256M) lead to failing tests
    ports:
      - '3331:3306'
    env_file:
      - mysql.env
    environment:
      MYSQL_TCP_PORT: 3331
    networks:
      - nginx-frontproxy

  phpmyadmin-dev:
    depends_on:
     - database-dev
    image: phpmyadmin/phpmyadmin
    container_name: rep.phpmyadmin-dev
    restart: always
    ports:
     - '8122:80'
    environment:
      PMA_HOST: database-dev
      PMA_USER: my_user
      PMA_PASSWORD: password
      PMA_PORT: 3330
      UPLOAD_LIMIT: 300M
    networks:
      - nginx-frontproxy

  phpmyadmin-test:
    depends_on:
     - database-test
    image: phpmyadmin/phpmyadmin
    container_name: rep.phpmyadmin-test
    restart: always
    ports:
     - '8123:80'
    environment:
      PMA_HOST: database-test
      PMA_USER: my_user
      PMA_PASSWORD: password
      PMA_PORT: 3331
      UPLOAD_LIMIT: 300M
    networks:
      - nginx-frontproxy

volumes:
  rep_db:
    external: false
networks:
  nginx-frontproxy: