.fc-row .fc-content-skeleton td {
    border-color: #ddd ! important;
}
.fc td.fc-day.fc-has-event.hover,
.fc td.fc-day.fc-has-event.selected {
    background-image: url(/img/gotdatedetail.png) ! important;
}

.fc td.fc-day.fc-has-online-event.hover,
.fc td.fc-day.fc-has-online-event.selected {
    background-image: url(/img/gotdatedetail-online.png) ! important;
}
.fc-theme-standard td,
.fc .fc-col-header-cell {
    width: 82px;
}
.fc-day-grid-container {
    height: auto ! important;
}
.fc-day.fc-has-event, .fc-day-number {
    cursor: pointer;
}
.fc-day-past.fc-day-number {
    background-color: transparent !important;
}

.fc-has-event {
    margin: 10%;
    background-position: center 55% ! important;
    background-image: url(/img/gotdate.png) ! important;
    background-repeat: no-repeat ! important;
}

.fc-has-event.fc-has-online-event {
    background-image: url(/img/gotdate-online.png) ! important;
}

.fc-day-past {
    background-color: rgba(77,142,162,.07) ! important;
}

div#calEvents {
    background-color: #e7e995;
    min-height: 180px;
    display: none;
}

#calEvents {
    color: black !important;
    font-size: 12px;
}

.calEvent:hover {
    background: #fff;
    text-decoration: none ! important;
}

div#selectedDate {
    margin: 20px 0 5px 0;
    font-weight: bold;
    font-size: 20px;
    color: var(--theme-color-a);
}

.roundedsmall {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
}

.imgevent {
    margin: 0px 10px 5px 0px;
    float: left;
}

.eventtitel {
    font-weight: bold;
}

.deleteEvent {
    float: right;
    margin-top: 5px;
    clear: both;
}

.deleteEvent a:hover {
    color: darkred ! important;
}
.deleteEvent a {
    padding: 6px 4px ! important;
}
.deleteEvent a:not(:first-child) {
    margin-left: 5px ! important;
}

#worknews-email {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f2f2f2;
    padding: 5px 11px;
    border: 1px solid #ccc;
}

#workshop-detail .mapevent {
    float: right;
    margin: 0px 0px 10px 20px;
}
#workshop-detail .fc-has-event {
    background-image: url(/img/gotdatedetail.png) ! important;
}

#workshop-detail .fc-has-event.inactive {
    background-image: url(/img/gotdatedraft.png);
}

#workshop-detail .fc-unthemed .fc-day-today {
    background-color: var(--theme-color-i) ! important;
}
.fc-basic-view .fc-week-number, .fc-basic-view .fc-day-number {
    padding: 1px 2px 0 0;
}

/* fullcalendar v5 */
.fc .fc-daygrid-day-number {
    font-weight: normal;
    color: #666;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 0px;
    height: 52px;
}
.fc .fc-button-primary {
    background-color: var(--theme-color-a) ! important;
    border-color: var(--theme-color-a) ! important;
}
.fc .fc-button-primary:focus {
    box-shadow: inherit;
}
.fc .fc-button-primary:hover,
.fc .fc-button-primary:active {
    background-color: var(--theme-color-f) ! important;
    border-color: var(--theme-color-f) ! important;
}
.fc .fc-daygrid-day-top {
    position: absolute;
    right: 0;
}
.fc .fc-toolbar-title {
    font-size: 18px ! important;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 7px ! important;
}
.fc td.fc-has-event span.event-count {
    display: none;
    display: block;
    color: #fff;
    position: absolute;
    left: 50%;  /* positions p relative to container */
    top: 50%;
    transform: translate(-50%, -50%);  /* positions p relative to its height and width */
    margin: 0;
}
.fc .fc-col-header-cell {
    height: 17px;
}
.fc a:hover {
    text-decoration: none;
}
/* avoid jumping on selecting next month */
.fc .fc-day:not(.fc-has-event) .event-count {
    display: none;
}
.fc .fc-scroller-liquid-absolute,
.fc .fc-scroller {
    overflow: hidden ! important;
}