:root {
    --is-verified: rgba(0, 128, 0, 0.7);
    --is-pending: rgba(255, 255, 0, 0.8);
    --is-missing: rgba(255, 0, 0, 0.8);
    --is-rejected: rgba(0, 0, 255, 0.7);
}

body.fundings.index .admin tr.is-verified {
    background-color: var(--is-verified);
    color: #fff;
}
body.fundings.index .info-box-counts {
    margin-bottom: 10px;
}
body.fundings.index .workshop-wrapper {
    padding: 15px 0;
}
body.fundings.index .workshop-wrapper > div.table {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
body.fundings.index .workshop-wrapper a.heading {
    font-size: 1.5em;
    font-weight: bold;
}
body.fundings.index .workshop-wrapper a.button {
    flex: 0 0 180px;
}
body.fundings.index .workshop-wrapper > div.table > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}
body.fundings.index .workshop-wrapper > div.table > div * {
    flex: 1;
}
body.fundings.index .workshop-wrapper a:not(.button) {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
body.fundings.index .workshop-wrapper .orga-user {
    margin-right: 3px;
}
body.fundings.index .workshop-wrapper .orga-user:not(:last-child)::after {
    content: ",";
}
body.fundings.edit h1 {
    margin-bottom: 20px;
}
body.fundings.edit div.admin.edit {
    padding: 20px;
}
#fundingForm div.input {
    display: grid;
    grid-template-columns: 155px auto 100px;
    grid-template-rows: auto auto;
    gap: 5px;
    align-items: baseline;
    padding: 10px 5px 5px 5px;
    margin-top: 1px;
    border-radius: 3px;
}
@keyframes lockAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      transform: scale(1);
    }
}
#fundingForm div.input.is-pending {
    background-color: var(--is-pending);
    color: var(--default-font-color);
}
#fundingForm div.input.is-missing {
    background-color: var(--is-missing);
    color: #fff;
}
#fundingForm div.input.is-verified {
    background-color: var(--is-verified);
    animation: lockAnimation .3s;
    color: #fff;
}
#fundingForm div.input.is-rejected {
    background-color: var(--is-rejected);
    color: #fff;
}
#fundingForm div.input.is-verified input,
#fundingForm div.input.is-verified textarea {
    color: grey;
}
#fundingForm div.input label {
    grid-column: 1;
    grid-row: 1 / span 2; /* Spannt über beide Zeilen */
}
#fundingForm div.input input,
#fundingForm div.input textarea {
    grid-column: 2;
    grid-row: 1;
    width: auto;
}
#fundingForm .input.error input,
#fundingForm .input.error textarea {
    border-color: #fff;
}
#fundingForm div.input .error-message {
    grid-column: 2;
    grid-row: 2;
}
#fundingForm div.input label.verified {
    grid-column: 3;
}
#fundingForm div.input.checkbox label,
#fundingForm div.input label.checkbox {
    line-height: 24px;
}
#fundingForm div.input input[type="checkbox"] {
    float: left;
}
#fundingForm div.input .error-message {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 5px;
}
#fundingForm div.input.is-missing.required label::after,
#fundingForm div.input.is-verified.required label::after,
#fundingForm div.input.is-missing .error-message,
#fundingForm div.input.is-verified .error-message {
    color: #fff;
}
#fundingForm fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
#fundingForm fieldset legend {
    font-weight: bold;
    font-size: 16px;
    color: var(--default-font-color);
}
#fundingForm .flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#fundingForm .flexbox > fieldset {
    flex: 1;
}
#fundingForm .upload-form-field-wrapper {
    padding: 10px;
}
#fundingForm .upload-form-field-wrapper .hint {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
#fundingForm .checkbox {
    float: none;
    padding: 0;
}
#fundingForm textarea {
    width: auto;
}
#fundingForm #delete-button {
    margin-left: 10px;
}
#fundingForm .progress-wrapper {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;;
}
#fundingForm .progress-wrapper #progress-bar {
    margin-top: 10px;
}
#fundingForm .ui-progressbar-value {
    background-color: var(--is-verified);
    margin: 0;
}
#fundingForm .color-codes-wrapper {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    width: 70%;
}
#fundingForm .color-codes-wrapper > div {
    flex: 1;
    padding: 10px;
    border-radius: 3px;
}
#fundingForm .color-codes-wrapper .is-verified {
    background-color: var(--is-verified);
    color: #fff;
}
#fundingForm .color-codes-wrapper .is-pending {
    background-color: var(--is-pending);
}
#fundingForm .color-codes-wrapper .is-missing {
    background-color: var(--is-missing);
    color: #fff;
}
#fundingForm .color-codes-wrapper .is-rejected {
    background-color: var(--is-rejected);
    color: #fff;
}
@media (max-width: 767px) {
    #fundingForm div.input {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto auto;
        padding-bottom: 0;
    }
    #fundingForm div.input label {
        grid-column: 1;
        grid-row: 1;
    }
    #fundingForm div.input input,
    #fundingForm div.input textarea {
        grid-column: 2;
        grid-row: 1;
    }
    #fundingForm div.input label.verified {
        grid-column: 1 / span 2;
        grid-row: 2;
        justify-self: end;
    }
    #fundingForm div.input .error-message {
        grid-column: 2;
        grid-row: 2;
    }
    body.fundings.index .workshop-wrapper > div.table {
        flex-direction: column;
    }
    body.fundings.index .workshop-wrapper a.button {
        flex: 0 0 0;
    }
    body.fundings.index .workshop-wrapper > div.table {
        align-items: start;
    }
    #fundingForm #delete-button {
        margin-left: 0;
        margin-top: 10px;
    }
}