:root {
    --default-font-color: #333;
}
form .required label:not(.no-required):after {
    color: red;
    content: '*';
    display:inline;
    margin-left:2px;
}
:focus-visible {
    outline: none;
}