.prunecluster {
    background-color: var(--theme-color-e);
    color: #fff;
}
.prunecluster div {
    background-color: var(--theme-color-d);
}
.leaflet-popup-content {
    max-height: 150px;
    overflow-y: auto;
}
.leaflet-container a {
    color: var(--theme-color-a);
}
