html, body {
    font-family: var(--theme-font), arial, helvetica, sans-serif;
    font-size: 12px;
    color: #727374;
    background-color: transparent;
    margin: 0;
}

h2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}
h2 a {
    text-decoration: none;
}

div.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
div.wrapper > div {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
div.wrapper > div > div.box {
    width: 40px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
}
